{{ partial "header.html" . }}

<div class="row">
	<div class="doc-list-header">
		<h3>{{ .Title }}</h3>
		{{ if .Description }}<p>{{ .Description }}</p>{{ end }}
	</div>

	<div class="col-md-5 project-box">
		{{ range .Data.Pages }}
		<div class="">

			<h4>&raquo;<a class="" href="{{ .RelPermalink }}">
				<span class="">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</span>
			</a></h4>
			
			{{ if .Description }}<p>{{ .Description }}</p>{{ end }}
		</div>
		{{ end }}
	</div>

</div> <!-- /.row -->

{{ partial "footer.html" . }}