<script>
function getTimeDelta(date_now, date_future) {
	var d = Math.abs(date_future - date_now) / 1000;
	
	var s = {
		week: 604800,
		day: 86400,
		hour: 3600,
		minute: 60,
		second: 1
	};

	var r = {};
	
	Object.keys(s).forEach(function(key) {
		r[key] = Math.floor(d / s[key]);
		d -= r[key] * s[key];
	});
	
	return r;
}

function timeDeltaToString(delta) {
	var o = ""
	Object.keys(delta).forEach(function(key) {
		o += delta[key] + " " + key + "(s), "
		//console.log(delta[key]);
	});
	
	o = o.slice(0,-2);
	
	return o;
}

document.addEventListener("DOMContentLoaded", function(event) { 
$.getJSON( "https://api.github.com/repos/raspi/WinLLDPService/releases", function( data ) {

  var limit = 5;
  var idx = 1;
  
  $.each( data, function( key, val ) {

  var releasedata = {
    "pre": val.prerelease,
    "name": val.name,
    "date": new Date(val.published_at),
    "url": val.html_url,
	"files": []
  };
  
  var divclass = "bg-info";
  
  if (true === releasedata.pre) {
    divclass = "bg-danger";
  }
  
  var files = [];
  
  $.each( val.assets, function( key, val ) {
    files.push({
	  "name": val.name,
	  "size": val.size,
	  "url": val.browser_download_url,
	  "dlcount": val.download_count
	});
  });
  
  releasedata["files"] = files;
  
  var relhtml = ""
  
  var reldiff = getTimeDelta(new Date(), releasedata.date);
  
  relhtml += "<strong>" + releasedata.name + "</strong> released @ " + releasedata.date.toISOString().slice(0, 10) + " ";
  relhtml += "<small><a href='" + releasedata.url + "'>GitHub release page</a></small><br />";
  relhtml += timeDeltaToString(reldiff) + " ago.";
  
  var flisthtml = "<table class='table table-striped'>"
  flisthtml += "<thead>";
  flisthtml += "<tr>";
  flisthtml += "<td>File</td>";
  flisthtml += "<td>Size (bytes)</td>";
  flisthtml += "<td>Downloads</td>";
  flisthtml += "</tr>";
  flisthtml += "</thead><tbody class='table-hover'>";

  $.each( releasedata.files, function( key, val ) {
    flisthtml += "<tr>";
	flisthtml += "<td><a href='" + val.url + "'>" + val.name + "</a></td>";
	flisthtml += "<td>" + val.size + "</td>";
	flisthtml += "<td>" + val.dlcount + "</td>";
	flisthtml += "</tr>";
  });
flisthtml += "</tbody></table>";

  $( "<div/>", {
    html: "<p class='" + divclass + "'>" + relhtml + flisthtml + "</p><hr />"
  }).appendTo( "#githubrelease" );
  
  idx++;
  
  if (idx >= limit) {
  return;
  }
  
  });
  
});

});

</script>